<nav>
  <div class="nav-wrapper">
    <div class="nav-logo">
    {{#link-to 'chirps'}}Chirper{{/link-to}}
    </div>
  </div>
</nav>
<div class="subnav">
  {{#if session.isAuthenticated}}
    <div class="welcome-message">
      Welcome, <span class="user-name" {{action 'ownProfile'}}>{{session.currentUser.username}}</span>
    </div>
    <div class="subnav-buttons">
      <button class="logout-button button" {{action 'invalidateSession'}}>Logout</button>
      <button class="new-chirp button" {{action 'goToCreateChirp'}}>Chirp!</button>
    </div>
    {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</div>
{{outlet}}
